.App {
  font-family: sans-serif;
  text-align: center;
}

.perfil {
  position: relative;
  left: 10px;
  top: 0px;
}
.Abrir {
  position: relative;
  left: 30px;
  top: 60px;
}
.cardopen {
  max-width: 40rem;
}
.cardborder {
  border: 1px solid;
}
.card-text1 {
  position: relative;
  left: 70px;
  top: -40px;
}
