
.imagen{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin-left: 12%;    
}
.ingreso-r {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
}

.ingreso-r {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
}
.btn {
  color: black;
  border: solid 1px black;
  background-color: white;
  display: flexbox;
  border-radius: 6px;
  width: 75%;
  padding: 15px 0px;
  border: 1px solid #000;
  opacity: 0.85;
  text-align: center;
  margin-left: 13%;
  margin-top: -90px;
}
.title {
  text-align: center;
  margin-bottom: 100px;
}
hr {
  width: 75%;
  background-color: lightskyblue;
}
.olvido {
  text-align: center;
}
.no-cuenta {
  display: inline-flexbox;

  margin-right: 10px;
}
.otros {
  margin: 10px;
  text-align: center;
}

.ingreso-r {
  
  margin: 10px;
}
