.App {
  text-align: center;
  background: linear-gradient(0deg, rgba(247,169,0,1) 16%, rgba(245,255,0,1) 100%, rgba(245,255,0,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form{
  font-size: calc(20px + 5vmin); 
 text-align: center;
}
input[type=email] {
  width: 93%;
  padding: 15px 0px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  color: black;
  background-color: transparent;
}
input[type=password] {
  width: 93%;
  padding: 15px 0px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  color: black;
  background-color: transparent;

}
.button {
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 6px;
  width: 89%;
  padding: 15px 0px;
  margin: 5px 0px;
  border: 1px solid #000;
  opacity: 0.85;
}

.logo{
  float: center; 
  position:relative; left:50px; top:-px;
  margin: 8px 0px;
  
}
.register {
  position:relative; left:105px; top:-40px;
}
.cuenta{
  position:relative; left:-40px; top:-108px;
}
.ore{
  position:Relative; left:0px; top:-150px;
}
.logof{
  position:Relative; left:0px; top:-160px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 4px;
  padding: 2px 0px;
  border: 0.000001px solid #000;
}

.logog{
  position:Relative; left:0px; top:-150px;

  box-sizing: border-box;
  background-color: transparent;
  border-radius: 4px;
  padding: 2px 0px;
  border: 0.000001px solid #000;
}


.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


